.form-wrap {
  padding: 20px;
}

.seperator {
  height: 1px;
  widht: 100%;
  background-color: #b3b1b7;
  border-radius: 3px;
}

#submit-btn {
  margin-bottom: 1em;
}

.keep-wrap {
  position: relative;
}

.form-check.keep-check {
  top: 7px; // Literally a magic number.
  position: absolute;
  margin-left: 0.75em;
}
