.file-wrap {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: solid #eee 1.5px;
}

.preview-transport {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4.5px;
}

.loading-block {
  position: relative;
  height: 389px;
}

.icon-row {
  text-align: center;
  height: 48px;
}

.progress {
  margin: auto;
  position: absolute;
  height: 1rem;
  width: 100%;
  top: 0;
  bottom: 0;
}

.no-files-upload-some {
  display: none;
}

.no-files-upload-some:only-child {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 56px);
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.m-content {
  height: 25%;
  margin: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.m-content-centered {
  text-align: center;
}

.m-content-centered h1 {
  font-size: 600%;
}

.m-content-centered .tagline {
  font-size: 200%;
}

.body {
  position: relative;
}

a.vector-btn:not(:last-child) {
  margin-right: 25%;
}

.vector-btn,
.vector-btn img {
  height: 36px;
  margin-top: 6px;
}

.file-size {
  text-align: center;
}
